<%- include('./partials/head', {title: 'Listado de películas' }) %>


    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1>LISTADO DE PELÍCULAS</h1>
        <br>
        <a href="/movies/add">Agregar Película</a></p>
        <br>
        <br>
        <ul>
            <% for( let i=0; i < movies.length; i++ ) { %>
                <li>
                    <a href="/movies/detail/<%= movies[i].id %>">
                        <%= movies[i].title %>
                    </a>
                </li>
                <% } %>

        </ul>
    </body>

    </html>